section.related-tasks(
    tg-related-tasks
    ng-show="showRelatedTasks()"
)
    .related-tasks-header
        span.related-tasks-title(translate="COMMON.RELATED_TASKS")
        div(tg-related-task-create-button)
    .related-tasks-body
        .row.single-related-task.js-related-task(
            ng-repeat="task in tasks"
        )
            .task-name
                a.clickable(tg-nav="project-tasks-detail:project=project.slug,ref=task.ref")
                    span \#{{ task.ref }} {{ task.subject }}
            span.task-row-wrapper(tg-related-task-row ng-model="task")
        div(tg-related-task-create-form)
