.stored-search-input {
    input {
        margin-left: .5rem;
        margin-right: 1rem;
        width: 10rem;
    }
    button {
        padding: .5rem;
    }
    label {
        &.stored-search-saved {
            background-color: $mass-white;
            cursor: default;
            transition: none;
            &:hover {
                background-color: $mass-white;
            }
        }
    }
}
